[Unit]
Description=Domain blocker tool
After=network.target

[Service]
ExecStart=/bin/sh /usr/local/sbin/block_daemon.sh

[Install]
WantedBy=multi-user.target
Alias=project.service
