[Unit]
Description=Domain blocker tool
After=network.target

[Service]
ExecStart=/bin/sh /usr/local/bin/block_daemon.sh

[Install]
WantedBy=multi-user.target
Alias=dbt.service
